body {
  // font-family: 'Raleway', sans-serif;
  font-family: 'Spartan', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
  text-align: center;
}

.header__title {
  font-size: 40px;
}

.imgQuestion {
  //border: 5px solid #5E565A;
  border-radius: 42px;
  display: flex;
  justify-content: center;
  height: auto;
  max-width: 99%;
  max-height: 300px;
  margin: 5px auto;
  margin-bottom: 30px;
  @media all and (min-width: 660px) {
    max-width: 550px;
    max-height: 500px;
  }
}

.container-options {
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.divAnswers {
  display: grid;
  grid-row-gap: 3px;
  @media all and(min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
  }
}

.btnAnswer {
  width: 320px;
  cursor: pointer;
  margin: 10px 0;
  font-style: oblique;
  font-size: 19px;
  @media all and (min-width: 360px) {
    font-size: 23px
  }
}

.divResults {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#idTitleResults {
  margin: 20px 0;
}

#divResultsSpan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  font-style: oblique;
}

.correctAnswer {
  background-color:#a0db8e;
  margin: 4px;
}

.incorrectAnswer {
  background-color: #f9b2b7;
  margin: 4px;
  text-decoration: line-through;
}

@media all and (min-width: 768px) {
  .divAnswers {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #divResultsSpan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.correct-answer {
  background-color: rgb(102, 185, 102);
  //color: white;
  border: none;
}
.incorrect-answer {
  background-color: rgba(248, 60, 60, 0.801);
  //color: white;
  border: none;
}

// Gráficos circulares
.container-graph {
  display: flex;
  justify-content: center;
}

