.option {
  text-align: initial;
  padding-left: 89px;
  .form-check-label {
    font-size: 20px;
  }
  .form-check-input {
    margin-top: 7px;
  }
}

.button-custom {
  width: 300px;
  margin-top: 30px;
}