html {
  scroll-behavior: smooth;
}

.shown {
  display: block;
}

.hidden {
  visibility: hidden;
}

.answer-text {
  height: 20px;
  font-size: 22px;
  margin: 15px 0;
}

#answer {
  font-style: italic;
}

.incorrect {
  color: red;
}

.correct {
  color: green;
}

.title-number {
  text-align: right;
  margin-bottom: 16px;
  margin-right: 40px;
}

.row-btns {
  margin-top: 35px;
}

.btn {
  min-height: 60px;
  margin: 5px 0;
  width: 170px;
  @media all and (min-width: 500px) {
    font-size: 15px;
    width: 190px;
  }
}

.imgQuestion {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  max-width: 99%;
  height: 400px;
  margin: 5px auto;
  margin-bottom: 30px;
  @media all and (min-width: 660px) {
    max-width: 550px;
    height: 400px;
  }
}