body {
  // font-family: 'Raleway', sans-serif;
  font-family: 'Spartan', sans-serif;
}

.hidden {
  visibility: 0;
}

.shown {
  visibility: initial;
}

.container-login {
  // padding: 40px;
  // display: flex;
  // flex-direction: column;
  display: flex;
  margin-top: 64px;
  align-items: center;
  flex-direction: column;
}

// .login-title {
//   // color: #17a2b8;
// }

.login-form {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.input-login {
  margin: 15px 0 !important;
  border: red !important;
}

.password-login {
  margin-bottom: 10px;
}

.button-signin {
  color: white !important;
  background-color: #17a2b8 !important;
  padding: 10px 15px !important;
  font-size: 18px;
  border: none !important;
  border-radius: 8px !important;
  width: 200px !important;
  margin-bottom: 25px !important;
  &:hover {
    background-color: #45b4c6 !important;
  }
}

.btn-signup {
  margin-top: 20px;
}

.btn-remember {
  color: #45b4c6 !important;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 16px !important;
}

.link-signup {
  color: grey !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline !important;
    color: #45b4c6 !important;
  }
}

// --------------***********----------

.form-prueba {
  width: 100%
}

.btn-prueba {
  background-color: #17a2b8 !important;
}

.paper {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}

.avatar {
  background-color: #f06292 !important;
}