.container-ppal-mode {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  justify-items: center;
  margin-bottom: 80px;
  padding-top: 80px;
}

.container-buttons-mode {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  @media all and (min-width:660px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}

.mode-buttons {
  justify-items: center;
  width: 240px;
  height: 300px;
  place-self: center;
  opacity: 0.8;
  border: none;
  background-color: #8bc8d2;
  cursor: pointer;
  &:hover {
    background-color: #17a2b8;
  }
  @media all and(min-width: 950px) {
    width: 240px;
  }
}

.mode-content {
  // font-family: 'Raleway', sans-serif;
  font-family: 'Spartan', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;  
}

.mode-title {
  margin: 15px 0;
  color: white;
  font-weight: bolder;
}

.mode-buttons:hover .mode-title {
  font-size: 39px;
}

.mode-buttons:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#a3a8a3,0);
}

.title-section {
  color: white;
  -webkit-text-stroke-width: 1px;
}
