.container-header{
  a {
    text-decoration: none !important; 
  }
  .title {
   // font-family: 'Bowlby One SC', cursive;
    font-family: 'Viga', sans-serif;
    //color: #679BA8;
    color: #17a2b8;
    font-size: 50px;
    margin: 15px 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .fa-arrow-left {
  color: #679BA8;
  transform: scale(2);
  margin-right: 20px;
}